*~
.deps/
.libs/
Makefile
Makefile.in
*.la
*.lo
*.o
/aclocal.m4
/ar-lib
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libllnl_lustre_client.la
/libtool
/ltmain.sh
/m4/
/missing
/ldms-plugins-llnl-*.tar.gz
/ldms-plugins-llnl.spec
